body {
    background-image: url("https://res.cloudinary.com/dbuwekmex/image/upload/v1749325578/51572133135_b2674755a3_b_cle8ju.jpg");
    background-repeat: none;
    background-size: 100%;
    font-family: josefin sans, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-bar {
    background-color: rgba(20, 100, 255, .5);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

h1, h2 {
    margin-left: 5%;
}
#title-bar > select {
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
    font-family: josefin sans, sans-serif;
    background-color: rgba(20, 100, 255, .5);
    padding: 5px 10px;
    border: 2px solid blue;
    border-radius: 20px;
}

#title-bar > select:hover {
    border: 2px solid darkblue;
}

#dealer-cards, #player-cards, #collected-player-cards, #collected-dealer-cards {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    justify-content: center;
}

hr {
    border: 2px solid rgba(20, 100, 255, .5);
    border-radius: 4px;
    width: 100%;
}

#dealer-dialog {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.dealer-card, #deck {

    background-size: cover;
    background-repeat: none;
    min-width: 65px;
    max-width: 65px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}

.face-card, .player-card {
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    min-width: 65px;
    max-width: 65px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}

.face-card:hover {
    cursor: pointer;
    background-color: rgb(167, 166, 166);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    font-family: josefin sans, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid blue;
    background-color: rgba(20, 100, 255, .5);
    text-align: center;
    margin: 20px auto;
}

button:hover {
    cursor: pointer;
    background-color: blue;
}